html {
  scroll-behavior: smooth;
}
body {
  color: #334155;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  font-size: 18px;
  line-height: 1.8;
}
.banner-section {
  height: 80vh;
  /* background-color: black;
  background-image: url("/assests/images/banner1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #bef264;
}
.banner-content {
  background-color: #f4f4f5;
  padding: 20px;
}
.cta-banner {
  margin-top: 15px;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #8a5d3b;
  color: #fff;
}
.cta-banner:hover {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #8a5d3b;
  color: #fff;
}
.fs {
  font-size: 17px;
}
.welcome,
.why-us,
.nursery-intro,
.testmonial,
.nursery-banner,
.services,
.programs,
.stem,
.admission,
.vision,
.entrepreneurship {
  padding: 6% 8%;
}
.fas {
  font-size: 44px;
  color: #8a5d3b;
}

.nursery-intro {
  background-color: #bef264;
  background-color: #fff;
}
.why-card {
  background-color: #fff;
  background-color: #bef264;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .ps {
    padding-left: 5rem;
  }
}

.heading {
  margin-bottom: 3rem;
  position: relative;
  color: #334155;
}
.heading-1 {
  margin-bottom: 5rem;
  color: #334155;
}

.heading::after {
  position: absolute;
  left: 0;
  top: 50px;
  content: "";
  height: 2px;
  width: 100px;
  background-color: #8a5d3b;
  background-color: #bac639;
}
.footer,
.why-us {
  background-color: #f3f4f6;
}
.footer a {
  color: #333;
  .nursery-intro {
  }

  /* NURSERY PAGE */
  .nursery-banner {
    height: 30vh;
    background-color: #f3f4f6;
  }
  .quarter-dv {
    background-color: #8a5d3b;
  }

  .services {
  }
}
.footer {
  background-color: #fff;
}
.listings {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.box {
  width: 10px;
  height: 10px;
  background-color: #8a5d3b;
  margin-right: 10px;
}

.video-banner {
  top: 30px;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.card {
  background-color: #f3f4f6;
}
.grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}
.cta {
  background-color: #bac639;
  color: #fff;
}
.cta:hover {
  background-color: #8a5d3b;
  color: #fff;
}

.order {
  width: 30px;
  height: 30px;
  padding: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #fff;
  margin-right: 15px;
  background-color: #8a5d3b;
}
.admission {
  background-color: #f3f4f6;
}
.downloads {
  border-bottom: 3px solid #bac639;
  background-color: #fff;
  cursor: pointer;
}
.downloads:hover {
  border-bottom: 3px solid #bac639;
  background-color: #bac639;
  color: #fff;
}

.dropdown-menu a:active {
  background-color: #f3f4f6;
  color: #333;
}

.hero-program {
  margin-bottom: 4rem;
  /*  */
  background-color: #bef264;
}
.hero-program h2,
.nursery-banner h2 {
  color: #000;
  /* font-size: 34px; */
}
.hero-program p,
.nursery-banner .intro {
  color: #1f2937;
  font-size: 20px;
}
.courses {
  padding: 2% 12%;
}
.program {
  padding: 4% 12%;
  background-color: #fff;
}
.enroll-btn {
  border: none;
  background-color: #bef264;
  padding: 10px 54px;
}
.right {
  background-color: #f3f4f6;
  padding: 2px;
}

.entrepreneurship {
  height: 90vh;
  padding: 4% 8%;
}
.contact-title {
  font-size: 72px;
  letter-spacing: 1;
}

.footer {
  padding: 1% 8%;
  background-color: #f9fafb;
}
