html {
  scroll-behavior: smooth;
}
body {
  color: #17345B;
  /* background-color:#F3F4F6; */
  background-color: #E5E7EB;
  font-family: "Open Sans", sans-serif;
}

a.nav-link{
 color: #17345B; 
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heading-2{
  font-weight: 600;
  margin-bottom: 1.2rem;
}
p {
  font-size: 17px;
  line-height: 1.8;
}

.why-us,
.nursery-intro,
.testmonial,
.nursery-banner,
.services,
.programs,
.stem,
.admission,
.vision,
.entrepreneurship {
  padding: 4% 8%;
}
.fas {
  font-size: 44px;
  color: #17345B;
}
#header{
  background-color: #fff;
  padding: 1% 0;
 
}
.banner-section {
  height: 90vh;
  padding: 2rem 0 0 0;
  /* background-color: black;
  background-image: url("/assests/images/");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */ */
  background-color: #F7FEE7;
}
.banner-content {
  background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}
.cta-banner {
  background-color: #BAC639;
  border: none;
  padding: 12px 24px;
  /* background-color: #bef264; */
  color: #17345B;
  font-weight: 500;
  font-size: 1.2rem;
}
.cta-banner:hover {
  text-decoration: none;
 background-color: #BAC639;
 color: #17345B;
}

.fs {
  font-size: 17px;
}

/* Welcome styles */
.welcome{
  background-color: #fff;
  padding: 4% 8%;
}

/* About styles */

.grid-boxes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
   gap: 2px;
}
.box-1{
  grid-column: 1/ 3;
 
}
.box-1 img, .box-2 img, .box-3 img{
border-radius: 15px;
 
}
/* why styles */
.why-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@media(max-width:576px){
  .why-grid{
 display: flex;
 flex-direction: column;
}
}
.why-card {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: .75rem;
}

@media (min-width: 768px) {
  .ps {
    padding-left: 5rem;
  }
}

.heading-1 {
  margin-bottom: 2rem;
  color: #17345B;}

  .stem-program{
    padding: 5% 8%;
    color: #FFF;
    background-color: #17345B;
  }
   .stem-program .stem-cta {
     display: inline-block;
     padding: 12px 24px;
     width: 200px;
     text-align: center;
     text-decoration: none;
       color: #17345B;
     background-color: #BAC639;
     margin: 1.5rem auto;
   }
.admissions{
  padding: 5% 10%;
   background-color: #17345B;
}

.admissions-content{
  padding: 20px ;
 /* background-color: #F1F5F9; */
 color: #17345B;
 color: #FFF;
}
.admission-title{
  margin-bottom: 2rem;
}
.admission-icon, .download{
   color: #17345B;
    color: #FFF;
  font-size: 20px;
}
.download-cta{
  margin: 2rem 0;
}
.admission-img{
 padding: 20px ;
}



.footer,
.why-us {
  background-color: #fff;
}
.footer a {
  color: #17345B;
}

 /* Footer Styles */
.footer {
  background-color: #fff;
}


.grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}
.cta {
  background-color: #bef264;
}
.cta:hover {
  background-color: #8a5d3b;
  color: #17345B;
}


.admission {
  background-color: #f3f4f6;
}
.downloads {
  border-bottom: 3px solid #bac639;
  background-color: #fff;
  cursor: pointer;
}
.downloads:hover {
  border-bottom: 3px solid #bac639;
  background-color: #bac639;
  color: #17345B;
}

.dropdown-menu a:active {
  background-color: #f3f4f6;
color: #17345B;
}


/*  Enrichmnet page styles*/
.hero-program {
  margin-bottom: 4rem;
  background-color: #bef264;
}


/* Nursery Page styles */
.nursery-banner{
  display: flex;
  align-items: center;
  height: 70vh;
  background-image: url(/assests/images/nursery-banner.jpg);
  background-color: #64748B;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 background-blend-mode:multiply;
}

.nursery-title{
  position: relative;
  font-size: 64px;
  color: #FFF;
}
.nursery-title::before{
  position: absolute;
  content: "";
  width: 150px;
  height: 2px;
  top: 10;
  background-color: #BAC639;
}
.nursery-banner h2 {
 color: #17345B;
}
.nursery-bio{
  padding: 5% 8%;
  background-color: #F1F5F9;
}
.icon-box{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  row-gap: 10px;
}
.bio-img{
   padding: 5% 8%;
}
.img-border{
  border: 10px solid #17345B;
}
.bio-img img{
  width: 100%;
  height: 100%;
}

.content{
  margin-bottom: 1rem;
  padding:.75rem;
   background-color: #F1F5F9;
 
}
.bio-title{
  position: relative;
}
.bio-title::before{
    position: absolute;
  content: "";
  width: 150px;
  height: 2px;
  top: 0;
  background-color: #BAC639;
}

.gallery{
   padding: 5% 8%;
   display: flex;
   justify-content: center;
}
.img-label{
  padding: 4px 12px;
  background-color: #bef264;
}
.img-item{
  position: relative;
  cursor: pointer;
}
.overlay {
 transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.img-overlay{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.img-item:hover .img-overlay {
  opacity: 0.4;
}
.img-item:hover .overlay {
  opacity: 1;
}

.team{
  padding: 6% 8%;
}
.team-img{
  border: 5px soild #17345B;
}
.team-info{
  margin-bottom: 1.5rem;
}
/* ENTREPRENEURSHIP STYLES */
.entrepreneurship {
  height: 90vh;
  padding: 4% 8%;
}
.contact-title {
  font-size: 72px;
  letter-spacing: 1;
}

.footer {
  padding: 3% 8%;
  background-color: #f9fafb;
}

/* Contacts page */
.contact-page__body{
  background-color: #fff;
}
.contact-page{
  height: 100vh;
  background-color: #FFF;
  padding:5% 8%;
  margin-bottom: 30%;  
}
ion-icon {
  color: #17345B;
  font-size: 18px;
}
.contact-intro{
 
 
}
.blocks{
  background-color: #bef264;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.left-grid{
  background-color: #E5E7EB;
}
.left-grid a{
  text-decoration: none;
   color: #17345B;
}

/* MOBILE SCREENS */
@media(max-width:768px){
  #header{
  background-color: #fff;
  padding: 2% 0;
 
}
.cat{
  margin-top: 1.1rem;
}
  .admissions{
  padding: 5%;
   background-color: #17345B;
}
.contact-page{
  height: 100vh;
  background-color: #FFF;
  padding:5%;
  margin-bottom: 30%;  
}
.footer {
  padding: 5%;
  background-color: #f9fafb;
}
.entrepreneurship {
  height: 90vh;
  padding: 5%;
}
.bio-img{
   padding: 5%;
}
.nursery-bio{
  padding: 5%;
  background-color: #F1F5F9;
}
  .stem-program{
    padding: 5%;
    color: #FFF;
    background-color: #17345B;
  }
  .welcome{
  background-color: #fff;
  padding: 5%;
}
.gallery,
.team{
  padding: 5% ;
}
.footer-logo{
  width: 50%;
}
.nursery-title{
  position: relative;
  font-size: 34px;
  color: #FFF;
}
}