html {
  scroll-behavior: smooth;
}
body {
  color: #334155;
  /* background-color:#F3F4F6; */
  background-color: #E5E7EB;
  font-family: "Open Sans", sans-serif;
}


ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.heading-2{
  font-weight: 600;
  margin-bottom: 1.2rem;
}
p {
  font-size: 17px;
  line-height: 1.8;
}
.btn{
  font-weight: 600;
}
.why-us,
.nursery-intro,
.testmonial,
.nursery-banner,
.services,
.programs,
.stem,
.admission,
.vision,
.entrepreneurship {
  padding: 4% 8%;
}
.fas {
  font-size: 44px;
  color: #8a5d3b;
  color: #bef264;
}
#header{
  background-color: #fff;
}
.banner-section {
  height: 90vh;
  padding: 2rem 0 0 0;
  /* background-color: black;
  background-image: url("/assests/images/");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */ */
  background-color: #F7FEE7;
}
.banner-content {
  background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}
.cta-banner {
  border: 3px solid #bef264;
  /* background-color: #bef264; */
  color: #334155;
  font-weight: 500;
}
.cta-banner:hover {
  text-decoration: none;
  background-color: #8a5d3b;
  background-color: #bef264;
  color: #fff;
}

.fs {
  font-size: 17px;
}
/* Welcome styles */
.welcome{
  background-color: #fff;
  padding: 4% 8%;
}

/* About styles */

.grid-boxes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
   gap: 2px;
}
.box-1{
  grid-column: 1/ 3;
 
}
.box-1 img, .box-2 img, .box-3 img{
border-radius: 15px;
 
}
/* why styles */
.why-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@media(max-width:576px){
  .why-grid{
 display: flex;
 flex-direction: column;
}
}
.why-card {
  background-color: #fff;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .ps {
    padding-left: 5rem;
  }
}

.heading-1 {
  margin-bottom: 2rem;
  color: #334155;
}

.footer,
.why-us {
  background-color: #fff;
}
.footer a {
  color: #333;
  .nursery-intro {
  }

  /* NURSERY PAGE */

  .nursery-banner {
    height: 30vh;
    background-color: #f3f4f6;
  }
  .quarter-dv {
    background-color: #8a5d3b;
  }

  .services {
  }
}
.footer {
  background-color: #fff;
}
.listings {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.box {
  width: 10px;
  height: 10px;
  background-color: #8a5d3b;
  margin-right: 10px;
}

/* testimonials */

.testmonial{
  background-color: #fff;
}
.testimonial_title{
  display: inline-block;
  width: 400px;
  margin: 0 auto;
  padding:30px;
 background-color: #bef264;
}

.card {
  background-color: #f3f4f6;
}
.grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}
.cta {
  background-color: #bef264;
}
.cta:hover {
  background-color: #8a5d3b;
  color: #fff;
}

.order {
  width: 30px;
  height: 30px;
  padding: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #fff;
  margin-right: 15px;
  background-color: #8a5d3b;
}
.admission {
  background-color: #f3f4f6;
}
.downloads {
  border-bottom: 3px solid #bac639;
  background-color: #fff;
  cursor: pointer;
}
.downloads:hover {
  border-bottom: 3px solid #bac639;
  background-color: #bac639;
  color: #fff;
}

.dropdown-menu a:active {
  background-color: #f3f4f6;
  color: #333;
}

.hero-program {
  margin-bottom: 4rem;
  /*  */
  background-color: #bef264;
}
.hero-program h2,

/* Nursery Page styles */
.nursery-banner{
  background-color: #fff;
}
.nursery-banner h2 {
  color: #000;
  /* font-size: 34px; */
}
.hero-program p,
.nursery-banner .intro {
  color: #1f2937;
  font-size: 20px;
}
.courses {
  padding: 2% 12%;
}
.program {
  padding: 4% 12%;
  background-color: #fff;
}
.enroll-btn {
  border: none;
  background-color: #bef264;
  padding: 10px 54px;
}
.right {
  background-color: #f3f4f6;
  padding: 2px;
}

.entrepreneurship {
  height: 90vh;
  padding: 4% 8%;
}
.contact-title {
  font-size: 72px;
  letter-spacing: 1;
}

.footer {
  padding: 3% 8%;
  background-color: #f9fafb;
}
.contact-page {
  margin-bottom: 2rem;
}
